body {
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: auto;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="file"] {
    margin-bottom: 10px;
}

button {
    padding: 10px;
}
